<div id="dashboard" class="contents">
    <div class="d-flex justify-content-center">
      <h1>Admin Dashboard</h1>
    </div>

    <h3 class="mb-3">Overview</h3>

    <div class="d-flex flex-wrap justify-content-around w-100">
      <div class="card flex-grow-1 mx-2" style="background-color: #6aaaf2;">
        <div class="card-body d-flex justify-content-center">
          <h5 class="card-title">Statistic 1</h5>
        </div>
      </div>

      <div class="card  flex-grow-1 mx-2" style="background-color: #6be5b2;">
        <div class="card-body d-flex justify-content-center">
          <h5 class="card-title">Statistic 2</h5>
        </div>
      </div>
      <div class="card  flex-grow-1 mx-2" style="background-color: #FDD393;">
        <div class="card-body d-flex justify-content-center">
          <h5 class="card-title">Statistic 3</h5>
        </div>
      </div>
      <div class="card flex-grow-1 mx-2" style="background-color: #f47c82;">
        <div class="card-body d-flex justify-content-center">
          <h5 class="card-title">Statistic 4</h5>
        </div>
      </div>
    </div>
  </div>