<div id="banner" class="contents">
    <div class="container">
        <h2 class="mb-4">Add Banner</h2>
        <form id="bannerForm" action="/admin/banner" method="POST" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="bannerTitle" class="form-label">Banner Title</label>
            <input type="text" class="form-control" id="bannerTitle" name="bannerTitle" required>
          </div>
          <div class="mb-3">
            <label for="bannerFeaturedTitle" class="form-label">Featured Title</label>
            <textarea class="form-control" id="bannerFeaturedTitle" name="bannerFeaturedTitle" rows="3" required></textarea>
          </div>
          <div class="mb-3">
            <label for="bannerImages" class="form-label">Banner Images </label>
            <input type="file" class="form-control" id="bannerImages" name="bannerImages" accept="image/*" required multiple>
          </div>
          <button type="submit" class="btn btn-primary">Add Banner</button>
        </form>
      </div>
</div>