<footer>
  <div class="container">
      <div class="row text-center">
          <div class="col-md-4">
              <ul class="nav flex-column">
                  <li class="nav-item">
                      <span class="footer-title text-light">Planet Ecom Pvt.Ltd</span>
                  </li>
                  <li class="nav-item">
                      <span class="footer-title text-secondary">Made with <i class="fa-solid fa-heart"
                              style="color: #cc0000;"></i> George</span>
                  </li>
              </ul>
          </div>
          
          <div class="col-md-4">
              <ul class="list-inline social-buttons">
                  <li class="list-inline-item">
                      <a href="https://github.com/george-j00">
                        <i class="fa-brands fa-github"></i>
                      </a>
                  </li>
                  <li class="list-inline-item">
                      <a href="https://www.linkedin.com/in/george-jose-714151240/">
                          <i class="fab fa-linkedin-in"></i>
                      </a>
                  </li>
              </ul>
          </div>
          <div class="col-md-4">
              <ul class="nav flex-column">
                  <li class="nav-item">
                      <span class="footer-title text-light">Contact & Support</span>
                  </li>
                  <li class="nav-item">
                    <span class="nav-link text-secondary">  George Jose</span>
                </li>
                  <li class="nav-item ">
                      <span class="nav-link text-secondary"><i class="fa-brands fa-whatsapp" style="color: #ffffff;"></i> +91 8111942818</span>
                  </li>
                  <li class="nav-item">
                    <span class="nav-link text-secondary"><i class="fas fa-envelope"></i> subingeorge027@gmail.com</span>
                  </li>
              </ul>
          </div>
      </div>
      <div class="row text-center">
          <div class="col-md-12">
              <span class="copyright quick-links ">Copyright &copy; George Jose
                 2023
              </span>
          </div>
      </div>
  </div>
</footer>
