<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="editProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editProductModalLabel">Logout</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p> Are you sure you want to log out ?</p>
         <button class="btn btn-danger"> <a href="/admin/logout" class="text-decoration-none text-light">Logout</a> </button>
        </div>
      </div>
    </div>
  </div>