<div class="container-fluid">
  <div class="row">
    <% products.forEach((product, index) => { %>
      <div class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">
        <a href="/products/<%= product._id %>" class="text-decoration-none text-dark ">
          <div class="product">
            <img src="<%= product.productImages[0].secure_url %>" alt=""> <!-- Display the first image URL -->
            <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
              <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li>
              <!-- <li class="icon mx-3"><span class="far fa-heart"></span></li> -->
              <li class="icon ml-3"><span class="fas fa-shopping-bag"></span></li>
            </ul>
          </div>
          <!-- <div class="tag bg-red">Best Selling</div> -->
          <div class="title pt-4 pb-1"><%= product.productTitle %></div>
          <div class="price">$ <%= product.productPrice %>.0</div>
        </a>
      </div>
    <% }); %>
  </div>
</div>


