<!-- views/404.ejs -->
<!DOCTYPE html>
<html>
    <head>
      <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
      <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="../style/style.css">
    </head>
    <body>
      <div id="main">
        <div class="fof">
            <h1>Error 404</h1><br>
            <a href="/" class="pt-5">Back to home Page</a>
        </div>
  </div>
</html>
