<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header');%>

<body>
  <div class="fixed">
    <%- include('../partials/navbar');%>
  </div>


  
  <section class=" py-3">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-8 mb-4">
          <div class="card mb-4 border shadow-0 p-4">
                    <h4 class="text-center mb-3">Express Checkout</h4>
                    <button class="btn btn-light btn-block">Google Pay</button>

                    
          </div>
          
        <hr>
        <p class="d-flex justify-content-center">or</p>

       <div class="border p-4 mb-4">
        <h4 class="d-flex justify-content-center">Select Address</h4>
        <div class=" d-flex flex-row">
            <div class="card w-50">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
            <div class="card w-50 ml-3">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
       </div>
          <!-- Checkout -->
          <div class="card shadow-0 border">
            <div class="p-4">
              <h5 class="card-title mb-3">Guest checkout</h5>
              <div class="row">
                <div class="col-6 mb-3">
                  <p class="mb-0">Name</p>
                  <div class="form-outline">
                    <input type="text" id="typeText" placeholder="Type here" class="form-control" />
                  </div>
                </div>
  
                <div class="col-6 mb-3">
                  <p class="mb-0">Phone</p>
                  <div class="form-outline">
                    <input type="tel" id="typePhone" value="" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 mb-3">
                  <p class="mb-0">Country</p>
                  <select class="form-select">
                    <option value="1">New York</option>
                    <option value="2">Moscow</option>
                    <option value="3">Samarqand</option>
                  </select>
                </div>
  
                <div class="col-sm-4 mb-3">
                  <p class="mb-0">State</p>
                  <div class="form-outline">
                    <input type="text" id="typeText" placeholder="Type here" class="form-control" />
                  </div>
                </div>
                <div class="col-sm-4 mb-3">
                    <p class="mb-0">City</p>
                    <div class="form-outline">
                      <input type="text" id="typeText" placeholder="Type here" class="form-control" />
                    </div>
                  </div>
  

                <div class="col-sm-4 mb-3">
                    <p class="mb-0">Street Address</p>
                    <div class="form-outline">
                      <input type="text" id="typeText" placeholder="Type here" class="form-control" />
                    </div>
                  </div>
  
                <div class="col-sm-4 col-6 mb-3">
                  <p class="mb-0">Pin code</p>
                  <div class="form-outline">
                    <input type="text" id="typeText" class="form-control" />
                  </div>
                </div>
              </div>
              <hr>
              <div class="border mt-2 p-4"> 
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="paymentMethod" id="codPayment" checked>
                    <label class="form-check-label" for="codPayment">Cash on Delivery (COD)</label>
                  </div>
                  <div class="form-check p-4 mb-1">
                    <input class="form-check-input" type="radio" name="paymentMethod" id="cardPayment">
                    <label class="form-check-label" for="cardPayment">Pay by Card</label>
                    <div class="form-group mt-4">
                      <label for="cardNumber">Card Number</label>
                      <input type="text" class="form-control" id="cardNumber">
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="expiryDate">Expiry Date</label>
                        <input type="text" class="form-control" id="expiryDate">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="cvcCode">CVC Code</label>
                        <input type="text" class="form-control" id="cvcCode">
                      </div>
                    </div>
                  </div>
                  <p>Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our privacy policy.</p>
                  <button class="btn btn-dark btn-block">Place Order</button>
              </div>
            </div>
          </div>
          <!-- Checkout -->
        </div>
        <div class="col-xl-4 col-lg-4 d-flex justify-content-center justify-content-lg-end">
          <div class="ms-lg-4 mt-4 mt-lg-0" style="max-width: 320px;">
            <h6 class="mb-3">Summary</h6>
            <div class="d-flex justify-content-between">
              <p class="mb-2">Total price:</p>
              <p class="mb-2">$195.90</p>
            </div>
            <div class="d-flex justify-content-between">
              <p class="mb-2">Discount:</p>
              <p class="mb-2 text-danger">- $60.00</p>
            </div>
            <div class="d-flex justify-content-between">
              <p class="mb-2">Shipping cost:</p>
              <p class="mb-2">+ $14.00</p>
            </div>
            <hr />
            <div class="d-flex justify-content-between">
              <p class="mb-2">Total price:</p>
              <p class="mb-2 fw-bold">$149.90</p>
            </div>
  
            <div class="input-group mt-3 mb-4">
              <input type="text" class="form-control border" name="" placeholder="Promo code" />
              <button class="btn btn-light text-primary border">Apply</button>
            </div>
  
            <hr />
            <h6 class="text-dark my-4">Items in cart</h6>
  
            <div class="d-flex align-items-center mb-4">
              <div class="me-3 position-relative">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-secondary">
                  1
                </span>
                <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/7.webp" style="height: 96px; width: 96x;" class="img-sm rounded border" />
              </div>
              <div class="">
                <a href="#" class="nav-link">
                  Gaming Headset with Mic <br />
                  Darkblue color
                </a>
                <div class="price text-muted">Total: $295.99</div>
              </div>
            </div>
  
            <div class="d-flex align-items-center mb-4">
              <div class="me-3 position-relative">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-secondary">
                  1
                </span>
                <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/5.webp" style="height: 96px; width: 96x;" class="img-sm rounded border" />
              </div>
              <div class="">
                <a href="#" class="nav-link">
                  Apple Watch Series 4 Space <br />
                  Large size
                </a>
                <div class="price text-muted">Total: $217.99</div>
              </div>
            </div>
  
            <div class="d-flex align-items-center mb-4">
              <div class="me-3 position-relative">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-secondary">
                  3
                </span>
                <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/1.webp" style="height: 96px; width: 96x;" class="img-sm rounded border" />
              </div>
              <div class="">
                <a href="#" class="nav-link">GoPro HERO6 4K Action Camera - Black</a>
                <div class="price text-muted">Total: $910.00</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
</body>
</html>
