<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header');%>

<body class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    
    <form action="/login" method="POST" id="LoginForm" class="w-100 p-5 mb-5 bg-light text-dark rounded" style="max-width: 450px;">
        <h2 class="text-center fw-bold mb-4" style="font-family: 'Poppins', sans-serif;">Sign in to Planet</h2>

        <div class="mb-4">
            <input type="email" name="email" id="EmailLogin" placeholder="Email" class="form-control form-control-lg"
                style="height: 48px;" />
        </div>

        <!-- Password input -->
        <div class="mb-4">
            <input type="password" name="password" id="PassLogin" placeholder="Password" class="form-control form-control-lg"
                style="height: 48px;" />
        </div>

        <% if (typeof error !== 'undefined') { %>
            <p class="text-danger"><%= error %></p>
        <% } %>

        <% if (typeof message !== 'undefined') { %>
            <p class="text-danger"><%= message %></p>
        <% } %>
        <!-- Forgot password link -->
        <div class="mb-4 text-end">
            <a class="text-primary text-decoration-none" href="/forgot-password">Forgot password?</a>
        </div>

      

        <!-- Submit button -->
        <button type="submit" class="btn btn-dark btn-lg btn-block mb-4">Sign in</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Create New Account? <a class="text-dark text-decoration-none" href="/signup">Sign Up</a></p>
        </div>
    </form>
</body>   

<script src="../js/loginValidate.js"></script>

</html>
