<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header'); %>    
    <!-- Add your CSS styles here -->
  
</head>
<body>
    <body class="bg-light d-flex justify-content-center align-items-center vh-100">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    
        <div class="animation-container w-25 text-center">
            <lottie-player src="https://lottie.host/95ecb93e-f152-4114-b078-77fe7ceb7749/nfkzEpbkO3.json" background="transparent" speed="1" loop autoplay style="width: 100%; height: 100%;"></lottie-player>
        </div>
    
        <div class="shop-again-container text-center mt-3">
            <h5>Back to shopping</h5>
            <a href="/" id="shopAgainBtn" class="btn btn-success">Shop</a>
        </div>
</body>
</html>
