<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header');%>

<body>
  <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <form action="/password-reset" method="POST" id="passwordReset" class="w-75 p-5 mb-5 bg-light text-dark rounded" style="max-width: 450px;">
      <!-- Email input -->
      <h2 class="d-flex justify-content-center fw-bold" style="font-family: 'Poppins', sans-serif; font-size: 2 rem; line-height: 2.75394rem; letter-spacing: -0.08813rem;">
       Reset Password
      </h2>
      <div class="form-outline">    
        <input type="password" name="password" id="resetPassword" placeholder="Password" class="mt-4 border-0 form-control-lg" style="width: 100%; height: 48px;" />
      </div>
      <div class="form-outline">    
        <input type="password" name="passwordConfirm" id="resetPasswordConfirm" placeholder="Confirm Password" class="mt-4 border-0 form-control-lg" style="width: 100%; height: 48px;" />
      </div>
      <div class="d-flex justify-content-center">
        <button id="resetButton" class="btn btn-dark text-light mt-3">Reset Password</button>
      </div>
    </form>
  </div>


</body>
<script src="../js/passwordReset.js"></script>


</html>
