<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header');%>

<body class="bg-light">
    
    <form action="/signup" id="SignUpForm" method="POST" class="row g-3 needs-validation w-75 p-5 mb-5  text-dark rounded" style="max-width: 450px;">
        <!-- Email input -->
      <h2 class="d-flex justify-content-center fw-bold" style="font-family: 'Poppins', sans-serif; font-size: 2 rem; line-height: 2.75394rem; letter-spacing: -0.08813rem;">
            Sign Up to Planet
          </h2>

          <div class="form-outline mb-4 mt-3">
            <input type="button" name="" id="googlebutton" class=" form-control-lg border-0" style="width: 100%; height: 48px;" value="Google" />
          </div>
          <p class="d-flex justify-content-center text-secondary">or</p>
        <div class="form-outline mb-4">
          <input type="text" name="name" id="nameSignup" placeholder="Name" class=" form-control-lg h-10  " style="width: 100%; height: 48px;" />
        </div>
        <div class="form-outline mb-4">
            <input type="email" name="email" id="emailSignup" placeholder="Email" class=" form-control-lg h-10  " style="width: 100%; height: 48px;" />
          </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" name="password" id="passSignup" placeholder="password" class="form-control-lg" style="width: 100%; height: 48px;" />
        </div>
        
        <div class="form-outline mb-4">
          <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm password" class="form-control-lg" style="width: 100%; height: 48px;" />
        </div>

        <div class="row mb-4">
        
            <div class="col">
              <!-- Simple link -->
              <a class="d-flex justify-content-end text-decoration-none text-primary" href="#!">Forgot password?</a>
            </div>
          </div>
        <!-- Submit button -->
        <button type="submit"  class="btn rounded-lg btn-dark w-100 btn-block mb-4">Sign Up</button>
      
        <!-- Register buttons -->
        <div class="text-center">
          <p>Already have Accound ? <a class="text-dark text-decoration-none" href="/login">Sign In</a></p>
        </div>
      </form>

      <script src="/js/signupValidate.js"></script>
</body>   


</html>
